APP_URL=http://localhost:3000
DOMAIN=localhost
LETSENCRYPT_EMAIL=

POSTGRES_DB=traffic_exchange
POSTGRES_USER=trafficx
POSTGRES_PASSWORD=changeme_postgres
DATABASE_URL=postgresql://trafficx:changeme_postgres@postgres:5432/traffic_exchange

REDIS_PASSWORD=changeme_redis
REDIS_URL=redis://:changeme_redis@redis:6379

NUXT_SESSION_PASSWORD=change_me_min_32_chars_change_me_min_32_chars

GRAFANA_USER=admin
GRAFANA_PASSWORD=changeme_grafana

WORKER_REPLICAS=1
MAX_BROWSERS=5
MAX_CONCURRENT=20
LOG_LEVEL=info
WORKER_REGION=id-1

MIDTRANS_SERVER_KEY=
MIDTRANS_IS_PRODUCTION=false
XENDIT_SECRET_KEY=
XENDIT_WEBHOOK_TOKEN=

SENTRY_DSN=
SENTRY_ENVIRONMENT=production
SENTRY_RELEASE=
SENTRY_TRACES_SAMPLE_RATE=0

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change_me_pgadmin
PGADMIN_HTTP_USER=admin
PGADMIN_HTTP_PASSWORD=change_me_pgadmin_http
PGADMIN_ALLOWED_IPS=

PGADMIN_CONFIG_MFA_ENABLED=True
PGADMIN_CONFIG_MFA_SUPPORTED_METHODS=['authenticator']
PGADMIN_CONFIG_MFA_FORCE_REGISTRATION=False
