# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules
.vscode
.claude

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.production
.editorconfig

coverage/
docs/error-logs.json
docs/grafana-logs.json
docs/logs-2.json
docs/images/
docs/fixed-gcp-docker.txt
docs/make-docker-alias-command.txt
docs/migration.sql
docs/my-docs.txt
docs/residential_proxy.txt
docs/schema.prisma
docs/working-proxy-list.txt
/app/generated/prisma
prisma/seed.ts

scripts/antidetect/AdsPower-Global-8.4.3-x64.deb
scripts/antidetect/dolphin-anty-linux-x86_64-latest.AppImage
