# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules
.vscode
.claude

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.production
.editorconfig

coverage/
docs
/app/generated/prisma
prisma/seed.ts

scripts/antidetect/AdsPower-Global-8.4.3-x64.deb
scripts/antidetect/dolphin-anty-linux-x86_64-latest.AppImage
